::-webkit-scrollbar-track, .sidebar, .background, .item:hover {
  -webkit-box-shadow: 17px 24px 88px -4px #5e4299;
  -moz-box-shadow: 17px 24px 88px -4px #5e4299;
  box-shadow: 17px 24px 88px -4px #5e4299; }

.sidebar .smoothie-info, .sidebar .erdbeer, .sidebar .avocado, .sidebar .blaubeer, .sidebar .smoothie-name, .sidebar .add-smoothie, .smoothie {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

body {
  background-color: #B5C4F6;
  font-family: 'Roboto', sans-serif;
  color: #292f33; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background: #0000b3; }

.smoothie {
  fill: red; }

.title {
  font-weight: bold; }

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr [sidebar1] 300px [sidebar2] repeat(20, 1fr);
  grid-template-rows: repeat(15, 1fr); }

.sidebar {
  grid-area: 2 / sidebar1 / 15 / sidebar2;
  background-color: white; }
  .sidebar .preview {
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: -1; }
  .sidebar .smoothie-info {
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: -1; }
  .sidebar .erdbeer {
    grid-row-start: 5;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: -1; }
  .sidebar .avocado {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-end: span 1; }
  .sidebar .blaubeer {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-end: span 1; }
  .sidebar .smoothie-name {
    min-height: 50px;
    grid-row-start: 8;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-end: span 1; }
  .sidebar .add-smoothie {
    min-height: 50px;
    grid-row-start: 9;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-end: span 1; }

.smoothie {
  color: white; }

.background {
  grid-area: 3 / 2 / 14 / 23;
  background-color: #8089D7; }

.item-container {
  overflow-y: scroll;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-area: 4 / 5 / 13 / 22;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

.detail-item {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #292f33;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-color: white; }

.item {
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #292f33;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-color: white; }

.sidebar {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 25px 100px auto; }

.profile {
  grid-area: 2 / 2 / 3 / 3;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

.sidebar-text {
  display: flex;
  flex-direction: column;
  grid-area: 3/ 1 / 4 / 4;
  padding: 10px; }
  .sidebar-text p {
    display: flex;
    justify-content: center; }

.profile-bg {
  grid-area: 2 / 2 / 3 / 3; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media (max-width: 1200px) {
  .preview {
    grid-row-start: 2 !important;
    grid-column-start: 2 !important;
    grid-row-end: 4 !important;
    grid-column-end: 3 !important; }
  .smoothie-info {
    grid-column-start: 3 !important; }
  .info {
    display: none !important; }
  .sidebar {
    grid-template-columns: 10px 100px auto;
    grid-template-rows: 10px 30px 70px 10px;
    grid-area: 1 / 1 / 1 / 24; }
  .background {
    grid-area: 2 / 1 / 15 / 24; }
  .item-container {
    padding: 10px;
    grid-area: 2 / 1 / 15 / 24;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr); }
    .item-container .detail-item {
      grid-row-end: auto; }
  .sidebar-text {
    grid-area: 2/ 3 / 4 / 4;
    display: flex;
    flex-direction: column; }
    .sidebar-text p {
      display: flex;
      justify-content: center; } }
